<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Expecta+Snapshots.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Expecta.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>FBSnapshotTestCase.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>PNPullToRefresh-PNPullToRefresh.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>PNPullToRefresh.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-PNPullToRefresh_Example.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-PNPullToRefresh_Tests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Specta.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>UIDevice-Utils.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00ADDBCA9E516B429C7877EB5AED2DCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D888F29E05E498D0CD91A51D28599A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F4F4E111DB70A988FD155915FE48BE1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>68BA9AEC0F3A08ADA2BFE232DB04EB80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97D56D5B73072EBFD4C7257F0F421F8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5522B4C786061CA9DFC8A4198028552</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCEC8DA6E7038F30366D42434AAD0044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E1E99BE24B4D5E362ECFB6580A5D5A8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC68C438121264EC2DAE2B7CA05491A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
